<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="app">
        <header-component></header-component>
        <main>
            <h3>Form Submit.</h3>
            <p><input type="text" placeholder="Nama Kelas" v-on:keyup.enter="submit" v-model="kelasBaru"></p>

            <h3>Daftar Kelas {{ kelas.length }}</h3>
            <template v-if="kelas.length >= 1">
                <ul>
                    <li v-for="(item, index) of kelas">{{ index+1 }} - {{ item }}</li>
                </ul>
            </template>
            <li v-else>Kelas Belum Tersedia</li>
        </main>
        <footer-component></footer-component>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="./js/kode2.js"></script>
</body>

</html>