<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="app">
        <header>
            <img :src="gambar" alt="hello" width="200">
            <h1 v-text="name"></h1>

            <h3>Form Submit.</h3>
            <p><input type="text" placeholder="Nama Kelas" v-on:keyup.enter="submit" v-model="kelasBaru"></p>

            <h3>Daftar Kelas {{ kelas.length }}</h3>
            <template v-if="kelas.length >= 1">
                <ul>
                    <li v-for="(item, index) of kelas">{{ index+1 }} - {{ item }}</li>
                </ul>
            </template> 

            <li v-else>Kelas Belum Tersedia</li>  

            <h3>Perulangan (1-5)</h3>
            <ul>
                <li v-for="x in 5">{{ x }}</li>
            </ul>
            
            <h3>Cari Genap {{ numbers }}</h3>
            <ul>
                <li v-for="x in cariGenap(numbers)">{{ x }}</li>
            </ul>

            <p>{{ kelas }}</p>
            <p>
                <button v-on:click="handleClick()">Ditekan</button>
            </p>
            <h1>{{ bilangan }}</h1>
            <p>Bilangan ini adalah bilangan {{ infoBilangan }}</p>

            <div>
                <label><input type="checkbox" value="Surya" v-model="kelas">Surya</label>
                <label><input type="checkbox" value="Garpit" v-model="kelas">Garpit</label>
                <label><input type="checkbox" value="Samsu" v-model="kelas">Samsu</label>
            </div>

            <a v-bind:class="{active: menu === 'home'}" href="#" v-on:click.prevent="gantiMenu('home')">Home</a>
            <a v-bind:class="{active: menu === 'about'}" href="#"  v-on:click.prevent="gantiMenu('about')">About</a>
            <a v-bind:class="{active: menu === 'blog'}" href="#" v-on:click.prevent="gantiMenu('blog')">Blog</a>

        </header>
        <footer id="footer">
            <p>copyright 2022</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="./js/kode.js"></script>
</body>

</html>